*{
 margin: 3px;
 padding: 1px;
 border: 0px;   
}
.principal{
    background-color: blue;
    color: white;
    max-width: 1200px;
    min-height: 100vh;
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 150px
    50px
    2fr
    50px;
    grid-template-areas: 
    "bannerG bannerG bannerG bannerG"
    "navG navG navG navG"
    "nav2G contenidoG asideG asideG"
    "footerG footerG footerG footerG";
}

.banner{
    background-color: #002973;
    color: white;
    grid-area: bannerG;
}

.nav{
    background-color: #155db1;
    color:white;
    grid-area: navG;
}
.nav2{
    background-color: #155db1;
    color:white;
    grid-area: nav2G;
}

.contenido{
    background-color: #2196f3;
    color: black;
    grid-area: contenidoG;
}

.aside{
    background-color: #b9ffff;
    color: black;
    grid-area: asideG;
}
.footer{
    background-color: #002973;
    color: white;
    grid-area: footerG;
}